<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>

  <!-- General META -->
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

  <!-- Semantic META -->
  <meta name="description" content="{{description}}" />
  <meta name="keywords" content="{{keywords}}" />

  <!--Application CSS Files -->
  {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="{{cssFile}}" />
  {% endfor %}

  </head>

  <!--<body class="ng-cloak">-->
  <body>
    <section class="content">
      <section class="container">
        {% block content %}{% endblock %}
      </section>
    </section>

    <!--Embedding The User Object -->
    <script type="text/javascript">
      var user = {{ user | json | safe }};
    </script>

    <!--Application JavaScript Files -->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}

    {% if process.env.NODE_ENV === 'development' %}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    {% endif %}
  </body>

</html> 
